<form method="get" action="/memo">
  <input type="submit" value="メモ一覧" class="memolist">
</form>
<form method="post" action="/memos/<%= @memo["id"]%>">
  <input type="text" name="title" value="<%= @memo["title"] %>" class="title"></br>
  <textarea name="content" row="5" class="content"><%= @memo["content"] %></textarea></br>
  <input type="hidden" name="_method" value="patch">
  <input type="submit" value="変更" class="get">
</form>
