<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title>Sinatra - memo</title>
</head>
<body>
  <link rel="stylesheet" href="/style.css" />
  <h1>メモアプリ</h1>
  <%= yield %>
</body>
</html>
