<form method="get" action="memo">
  <input type="submit" value="メモ一覧" class="memolist">
</form>
<form method="post" action="memo">
  <input type="text" name="title" value="" class="title"></br>
  <textarea class="content" name="content" value="" rows="5"></textarea></br>
  <input type="submit" value="送信" class="get">
</form>
