<form method="get" action="memo">
  <input type="submit" value="メモ一覧" class="memolist">
</form>
<form method="post" action="memo">
  <input type="text" name="title" id="title" value="" class="title"></br>
  <textarea name="content" id="memo" value="" rows="5" class="content"></textarea></br>
  <input type="submit" value="送信" class="get">
</form>
