<form method="get" action="/memo">
  <input type="submit" value="メモ一覧" class="memolist">
</form>
<% @memo.each do |memo| %>
      <p><%= h(memo["title"]) %></p>
  <div class="content"><p><%= h(memo["content"]) %></p></div>
  <% end %>
<table>
  <form method="get" action="/memos/<% @memo.each do |memo| %><%= memo["id"]%><% end %>/edit">
    <input type="submit" value="変更" class="get">
  </form>
  <form method="post">
    <input type="hidden" name="_method" value="delete" class="delete">
    <input type="submit" value="削除" class="delete">
  </form>
</table>
